@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
     src: url(../fonts/PTSans-Reqular.woff2) format(woff2);
     font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/PTSans-Bold.woff2) format(woff2);
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/PTSans-Italic.woff2) format(woff2);
    font-display: swap;
  }

  @font-face  {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/PTSansNarrow-Bold.woff2) format(woff2);
    font-display: swap;
  }
  @font-face  {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/PTSansNarrow-Reqular.woff2) format(woff2);
    font-display: swap;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
    background-color: white;

  }
  html
  {
    height: 100%;
  }
  .main-contanier
{
  flex-grow: 1;
}


.navigetion a.active::after
{
  content: '';
  display: block;
  width: 68px;
  height: 2px;
  background-color: #756257;
  position: absolute ;
  bottom: -1px;
  border: 2px;

}

.navigetion a.active1::after
{
  content: '';
  display: block;
  width: 93px;
   height:  2px;
  background-color: #756257;
  position: absolute ;
  bottom: -1px;
   border: 2px

}

.page-header
{
  height: 64px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.navigetion-link-logo
{
  margin-left: 70px;
  display: flex;
  z-index: 2;
}

  .navigetion
{
  display: flex;
   width: 1200px;
  margin: 0 auto;

}

.user-button:hover
{
  background-color: #615048;
  border-color: #615048;
}

.user-button:focus
{
  outline: none;
  box-shadow: inset 0 0 0 4px #615048 ;
}

.hotel-button:hover
{
  background-color: #615048;
  border-color: #615048;
}

.hotel-button:focus
{
  outline: none;
  box-shadow: inset 0 0 0 4px #615048 ;
}

.newsletter-button00:hover
{
  background-color: #68A2CA;
  border-color: #68A2CA;
}

.newsletter-button00:focus
{
  background-color: #68A2CA;
  border-color: #68A2CA;
  outline: none;
}

.page-footer-tittle:hover
{
  color: #756157;
}
.page-footer-tittle:focus
{
background-color: #756157;
outline: none;
border-color: #756157
}

.pagination-link:hover
{
  background-color: #68A2CA;
  border-color: #68A2CA;
}

.pagination-link:focus
{
  background-color: #82B3D3;
  border-color: #68A2CA;
outline: none;
}

.product-cart-detailed-button:hover
{
  background-color: #615048;
  border-color: #615048;
}

.product-cart-detailed-button:focus
{
  background-color: #615048;
  border-color: #615048;
  outline: none;
}

.product-cart-favourites-button1:hover
{
  background-color: #6C9E42;
}

.product-cart-favourites-button1:focus
{
  background-color: #6C9E42;
outline: none;
}

.product-cart-favourites-button:hover
{
  background-color: #68A2CA;
}
.product-cart-favourites-button:focus
{
  background-color: #68A2CA;
  outline: none;
}


.button-apply:hover
{
  background-color: #68A2CA;
}
.button-apply:focus
{
  background-color: #68A2CA;
  outline: none;
}


.select-conrol:hover
{
border-color: #68A2CA;
}

.index-back
{
display: block;
margin: 0 auto;
padding-top: 51px;
z-index: 1;
}


.navigetion-list
{

  display: flex;
  width: 632px;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;

}

.navigetion-link
{
padding: 20px 16px;
display: block;
font-family: "PT Sans", sans-serif;
font-size: 20px;
line-height: 24px;
color: black;
font-weight: 700;
text-align: center;
background-color: #FFFFFF;
text-decoration: none;
position: relative
}
.navigetion-user .navigetion-link-user
{
  display: block;
}

.like
{
  padding: 23px 12px;
}

.navigetion-user
{
min-width: 280px;
display: flex;
margin-right: 70px;
align-items: center;
}
.page-contaneir
{
  width: 1200px;
  margin: 0 auto;
}

  .page-header
  {
  background-color: #FFFFFF;
  color:#000000

  }

.navigetion-link-user
{
font-family: "PT Sans", sans-serif;
line-height: 20x;
color: black;
font-weight: 700;
text-align: center;
background-color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;
}

.Sedona-city
{
height: 261px;
align-items: center;
text-align: center;
display: flex;
flex-direction: column;
padding-top: 69px;
}

.arizona
{
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  height: 72px;
  text-transform: uppercase;


}
.grand
{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 700px;
  height: 26px;
   color: #333333;
}
.advantages-list
{
text-align: center;
}


.advantages-tittle
{
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.city-blue
{
  background-color: #82B3D3;
  color: white;
}

.city-gray{
 background-color: #83B3D31F;
}

.city-birch
{
  background-color: #83B3D333;
}


.sedona-rek
{
  height: 246px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 64px;

}
.sedona-comfort
{
font-family: "PT Sans", sans-serif;
font-size: 30px;
line-height: 36px;
font-weight: 700;
width: 570px;
height: 72px;
text-transform: uppercase;
}
.icon-z
{
  text-transform: uppercase;

}

.personal
{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 550px;
  height: 26px;
   color: #333333;
}

.index-back
{
  background-image: url(../img/Vector.svg), url(../img/index-background.jpg);
  background-position: bottom, center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  width: 1200px;
  height: 485px;

}


.user-button
{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #756157;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 34px;
  margin-left: 20px;



}

.inner-header-tittle
{
  font-size: 54px;
  line-height: 68px;
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 35px;

}
.catalog-back
{
  margin: 0;
  padding: 0;
  background-image: url(../img/Фильтр.jpg);
  padding-left: 70px;
  min-height: 412px;
}

.breadcrumbs
{
  color: white;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;

}
.breadcrumbs-list
{
  color: inherit;
  margin-right: 28px;
}
.breadcrumbs-home
{
  background-repeat: no-repeat;
  background-size: 8px 25px;
  background-position: center right 11px;
  background-image: url(../img/strelka.svg);

}

.select-conrol
{
text-align: start;
text-decoration: none;
text-transform: uppercase;
padding: 14px 20px;
border: 2px solid #E5E5E5;
padding-right: 100px;
appearance: none;
 background-image:url(../img/strelka-select.svg) ;
 background-repeat: no-repeat;
 background-position: right 21px center;
}


.range-scale
{
  position: relative;
   margin-top: 36px;
   height: 4px;
   background-color: #A5A5A5;
}
.range-bar
{
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;

}
.range-toogle
{
  position:absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
  border-color: #FFFFFF;

}
.range-toogle:focus
{
 outline: 3px solid #83B3D3;
}
.toogle-min
{
top: -8px;
}
.toogle-max
{
 right: -15px;
 top: -8px
}
.range-wrapper-inputs
{
  display: flex;
  justify-content: center;
   margin-top: 32px;
}
.catalog-filter-label
{
  display: flex;

}
.range-input
{
padding: 12px 20px;
width: 110px;

}

.input-text-o
{
  background-image: url(../img/ot.svg);
  background-size: 17px 24px;
  background-position: center right 20px;
  background-repeat: no-repeat;
  border: none;
  border-top-left-radius: 4px ;
  border-bottom-left-radius: 4px ;
}
.input-text-d
{
  background-image: url(../img/do.svg);
  background-size: 20px 24px;
  background-position: center right 20px;
  background-repeat: no-repeat;
  border: none;
  margin-left: 2px;
  border-top-right-radius: 4px ;
  border-bottom-right-radius: 4px ;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button
{
  appearance: none;
  margin: 0;
}

.hotels-found
{
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  text-transform: uppercase;
}

.catalog-icon
{
  margin-left: 70px;
  display: flex;
}

.pagination
{
  background-color: white;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 40px;
  margin-left: 70px;

}
.button-light:not(:last-child)
{
  padding-right: 8px;
}


.pagination-link
{
  color:#FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
line-height: 36px;
font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;

}
.pagination-item:not(:last-child) {

  margin-right: 8px;

}

.pagination-link-a
{
  color:black;
  background-color: #F2F2F2;
  text-decoration: none;
  font-size: 20px;
line-height: 36px;
font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.pagination-link-b
{
  color:black;
  text-decoration: none;
  font-size: 20px;
line-height: 36px;
font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.advantages
{
  text-align: center;

}

.contenir1
{
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
}


.item1
{
display: flex;


}

.item2
{
  width: 400px;
  height: 385px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction:column;

}

.item3
{
display: flex;

}

.itemf
{
  width: 400px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction:column;
}
.advantages-tittle
{
   max-width: 175px;
}
.advantages-desctription
{
  max-width: 230px;
}


.icon-item
{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  line-height: 30px;

}

.icon-item1
{
 width: 400px;
height: 385px;
background-color: #83B3D31F;
align-items: center;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.icon-item2
{
  width: 400px;
  height: 385px;
  align-items: center;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;

}
.paragraf-icon
{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 190px;
  height: 63px;
   color: #333333;
}
.paragraf-icon1
{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 242px;
  height: 63px;
   color: #333333;
}
.paragraf-icon2
{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  height: 63px;
   color: #333333;
}



.hotel-data
{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.data-drive
{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 20px;
   color: #333333;
   margin: 0;
}
.interest
{
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 96px;
}
.line1
{
  text-align: center;
  width: 50%;
}
.line2
{
  text-align: left;
  width: 100%;
}
.hotel-button
{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #756157;
  border-radius: 4px;
    padding: 8px 50px;
  margin-top: 54px;
  cursor: pointer;
 }

.subscription
{
  width: 1200px;
  background-color: #83B3D31F;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url("../img/Subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
   min-height: 415px;
   margin-top: 96px;
}

.subscription-inner
{
  width: 1200px;
  background-color: white;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-size: 100% auto;
  background-repeat: no-repeat;
   min-height: 415px;

}

.newsletter
{
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}
.scout
{
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
   max-width: 500px;
  margin: 0;
  margin-bottom: 54px;

}
.news-letter-form
{
  display: flex;

}

.newsletter-button00
{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: 4px solid #82B3D3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 232px;
  cursor: pointer;
  padding-left: 50px;
  padding-top:8px ;
  padding-bottom: 8px ;
 padding-right: 50px;
}
.field
{
  width: 452px;
   border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
   padding-left: 20px;
  border: 1px solid #ccc;
  background-color: #F2F2F2;
}

.page-footer-contanier
{
display: flex;
width: 1200px;
margin: 0 auto;
 align-items: center;
 justify-content: center;
 height: 120px;

}
.field:focus-visible
{
  outline: 2px solid #82B3D3;
}
.footer-social-list
{
width: 142px;
margin-left: 70px;
display: flex;
list-style-type: none;
margin-top: 35px;
margin: 0;
padding: 0;
}

.footer-social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
 background-position: center;
  padding: 12px 13px;

}

.footer-social-vk {
background-image: url("../img/vk.svg");
 background-size: 24px 14px;

}

.footer-social-tg {
  background-image: url("../img/tg.svg");
  background-size: 18px 15px;

}

.footer-social-yutube {
 background-image: url("../img/youtube.svg");
 background-size: 22px 17px;

}

.footer-contacts
{
  width: 720px;
  text-align: center;
}
.page-footer-tittle
{
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
   height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-academya
{
  width: 115px;

}

.page-footer-tittle
{
line-height: 40px;
  font-size: 40px;
}

.catalog-hotels
{
  margin-top: 40px;

}
.catalog-filter
{
  display: flex;
}
.catalog-filter-group
{
  border: 0;
}

.catalog-filter-tittle
{
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-bottom: 32px;
  margin: 0;
  padding: 0;
 margin-right: 70px;
  width: 151px;

}



.catalog-filter-list
{
  list-style-type: none;
   margin-top: 32px;
   color: #FFFFFF;
   padding: 0;

}
.catalog-filter-item
{
  margin-top: 16px;

}


.catalog-right-column
{
  width: 1200px;
  margin-left: 70px;

}
.control
{
 position: relative;
 display: block;
  padding-left: 36px;
}

.control-mark
{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color:#FFFFFF;
  border: 2px solid #FFFFFF;
  left: 0;
  top: -2px;
  background-color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.checkmark
{
  display: none;
  right: 10px;
}
.control-input:checked + .control-mark .checkmark {
  display: block;
}
.control:hover .control-mark
{
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"] + .control-mark
{
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before
{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content:""
}



.strip
{
  height: 1px;
  background-color: #E5E5E5;
  margin-top: 40px;
}
.filter-icon
{
  display: flex;
  margin: 0;
  padding: 0;
 margin-top:  50px;
 align-items: center;
}

.hotels-found
{
  margin-right: 200px;
}

.button-p
{
display: flex;
 margin: 0;
 padding: 0;
 flex-direction: column;
 margin-left: 70px;
 margin-top: 56px;
}


.button-apply
{
  appearance: none;
  border: 0;
  border-radius: 4px;
  background: #82B3D3;
  color: #FFFFFF;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
 font-weight: 700;
 cursor: pointer;
}

.button-reset
{
  appearance: none;
  border: 0;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.product-list
{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;

}

.product-cart-image
{
width: 100%;
 height: auto;
}


.product-cart
{
  border: 1px solid #E5E5E5;
  border-radius: 4px;
   padding: 20px;
   display: flex;
   flex-direction: column;
}
.product-cart-content
{
display: flex;
flex-direction: row;
flex-grow: 1;
flex-wrap: wrap;
justify-content: space-between;
}


.product-cart-link
{
  text-decoration: none;
  color: black;

}


.product-cart-tittle
{
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
}


.product-cart-rating

{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  background-color: #F2F2F2;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 22px;
  margin-top: 16px;
  text-transform: uppercase


}
.product-cart-detailed-button
{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 16px;
  padding: 8px 26px;


}
.product-cart-favourites-button

{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 16px;
  padding: 8px 20px;

}

  .product-cart-favourites-button1

{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 16px;
  padding: 8px 22px;
}

  .product-cart-price
{
  margin-bottom: 16px;
    min-width: 140px;
    margin-left: 20px;
     margin: 0;
    padding: 0;
    text-align: right;


}

.stars
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.super-stars:not(last-child)
{
  padding-right: 6px;
}
.hostel
{
 margin-bottom: 16px;
 min-width: 140px;
 margin: 0;
 padding: 0;

}
.visually-hidden
{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}


.modal-contanier
{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
   width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.9);
}

.modal
{
  position: relative;
  margin: auto;
  padding: 65px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal-data
{
  width: 577px;
}

.modal-close-button
{
  position: absolute;
  padding: 0;
  top: 65px;
  right: 52px;
  width: 52px;
  height: 52px;
 background-color: #F2F2F2;
 border: none;
  background-image: url(../img/crestick.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
   cursor: pointer;
}

.modal-tittle
{
   font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.data-tittle
{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
 min-width: 120px;

}

.model-fl
{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.Hotels-model-button
{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #83B3D3;
  border-radius: 10px;
   padding: 18px 256px;
   cursor: pointer;
   margin-top: 48px;
}

.arrival-date
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.modal-field
{
  margin-left: 24px;
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
   background-size: 16px 15px;
   background-position: right 22px center;
}

.modal-span-1
{
  color: #FF5757;
  margin-left: 157px;
  font-size: 16px;
  line-height: 21px;
}
.modal-span-2
{
  margin-left: 157px;
}

.modal-field-people
{
 max-width: 110px;
 margin-left: 60px;
 padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #ccc;
 background-color: #F2F2F2;
 border-radius: 4px;
 text-align: center;
 background-image: url(../img/plus.svg),
  url(../img/minus.svg);
  background-repeat: no-repeat;
 background-position: center right 10px, left 10px center;
}

.arrival-date-people
{
  display: flex;
  align-items: center;
}

.arrival-date-general
{
  display: flex;
 margin-top: 23px;
}

.data-tittle-children
{
 margin-left: 82px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.tooltip
{
position: absolute;
margin-top: -11px;
margin-left: 10px;
width: 26px;
height: 26px;
}

.tooltip-toogle
{
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tootlip-icon
{
width: 100%;
height: 100%;
color: #83B3D3;
display: block;
}

.tooltip-toogle:hover .tootlip-icon
{
 color: #83B3D3;
}

.tooltip-text
{
  background-color: #333333;
  color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toogle:hover + .tooltip-text,
.tooltip-toogle:focus + .tooltip-text
{
  display: block;
}

.form-label-icon
{
  position: relative;
  padding-right: 16px;
}

.tooltip-text::after
{
content: "";
background-image: url(../img/trangle.svg);
width: 19px;
height: 9px;
position: absolute;
bottom: 100%;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}

.modal-contanier-close
{
display: none;
}
